.footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.social_icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_icons li {
    margin: 0 1em;
}

.social_icons li:hover {
    color: #FFBB33;
}

.social_icons svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 2em;
}

.copyright span {
    font-weight: bold;
    color: #FFBB33;
}